:root {
    --header-text: #EDEDED;
    --additinal-text1: #C7AA8B;
    --header-accent: #000;
    --hero-color: #FFF;
    --hero-text: rgba(255, 255, 255, 0.81);
    --additinal-text2: #4D4D4D;
    --review-title: rgba(50, 50, 50, 0.36);
    --review-background: #F7F7F7;
    --footer-text: #858585;
    --header-background: #323232;
}

/* ================================================================== */

.container {
    width: 969px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}

body {
    font-family: "Roboto Condensed";
}

.header {
    background-color: var(--header-background);
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--header-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 0.83;
    text-transform: uppercase;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 10px;
}

.navigation-list {
    display: flex;
}

.navigation-item {
    padding: 20px 30px;
}

.navigation-link {
    color: var(--header-text);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-list {
    display: flex;
    margin-left: auto;

}

.header-item {
    padding: 22px 23px;
}

/* ================================================================= */
.hero {
    text-align: center;
    background-color: tan;
    padding-top: 69px;
    padding-bottom: 121px;
    background-image: url(../images/bridge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-title {
    color: var(--hero-color);
    text-align: center;
    font-size: 78px;
    font-weight: 400;
    line-height: 0.84;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.hero-text {
    color: var(--hero-text);
    text-align: center;
    font-family: Vollkorn;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    margin-bottom: 49px;
}

.hero-link {
    padding: 10px 17px;
    border: 2px solid #FFF;
    background: rgba(77, 77, 77, 0.20);
    color: var(--hero-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
}

/* ===================================================================== */
.info {
    background-color: tan;
    padding-top: 80px;
    padding-bottom: 83px;
}

.info-list {
    display: flex;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 319.984px;
    border-top: 1px solid rgba(50, 50, 50, 0.13);
    padding-top: 22px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 23px;
}

.info-title {
    color: var(--additinal-text2);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-image {
    width: 69px;
    height: 100px;
    margin-bottom: 35px;
}

.info-item:nth-child(2) .info-image {
    width: 95px;
    height: 95px;
}

.info-item:nth-child(3) .info-image {
    width: 114px;
    height: 87px;
}

.info-text {
    color: var(--additinal-text2);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}

/* ======================================================================= */
.quote {
    padding-top: 127px;
    padding-bottom: 157px;
    background-image: url(../images/ocean.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.quote-title {
    color: var(--additinal-text1);
    font-size: 47px;
    font-weight: 400;
    line-height: 1.17;
}

/* ================================================================== */
.team {
    padding-top: 76px;
    padding-bottom: 80px;
}

.team-box {
    display: flex;
    justify-content: space-between;
    /* gap: 113px; */
}

.team-list {
    display: flex;
    gap: 20px;
}

.team-title {
    color: var(--additinal-text2);
    font-size: 30px;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
}

.team-name {
    color: var(--additinal-text2);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 10px;
}

.team-rank {
    color: var(--additinal-text2);
    font-family: Vollkorn;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66;
    margin-bottom: 12px;
}

.team-items {
    display: flex;
    gap: 10px;
}

.team-item:hover {
    outline: 1px solid black;
    border-radius: 6px;
}

/* =================================================================== */
.reviews {
    padding-top: 79px;
    padding-bottom: 104px;
    background-color: var(--review-background);
    text-align: center;
}

.reviews-title {
    color: var(--review-title);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    text-transform: uppercase;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 46px;
}

.reviews-text {
    width: 361px;
    color: var(--additinal-text2);
    text-align: center;
    font-family: Vollkorn;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
}

.reviews-item {
    transition: all ease-in-out 250ms;
}

.reviews-item:last-child .reviews-text {
    margin-bottom: 21px;
}

.reviews-item:hover {
    background-color: rgba(211, 211, 211, 0.822);
}

.reviews-author {
    color: var(--additinal-text1);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.53;
    text-transform: uppercase;
}

/* ==================================================================== */
.footer {
    padding-top: 57px;
    padding-bottom: 53px;
    background-color: var(--header-background);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: var(--footer-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}

.footer-button {
    border: 2px solid var(--additinal-text1);
    background: rgba(77, 77, 77, 0.20);
    color: var(--additinal-text1);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    padding: 9px 74px 11px 74px;
    transition: all ease-in-out 250ms;
}

.footer-button:hover {
    border: 4px solid var(--additinal-text1);
    font-size: 20px;
}

.footer-address {
    color: var(--footer-text);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.53;
}